.container {
    display: flex;
    border: 2px solid #304ffe58;
    border-radius: 15px;
    margin-bottom: 20px;
    
  }
  
  .main {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
  }
  
  .main button {
    display: flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    width: 48%;
    background-color: #fff;
    cursor: pointer;
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    border: 1px solid rgb(0, 168, 0);
    color: rgb(0, 168, 0);
  }
  
  .main svg {
    font-size: 1.1rem;
    margin-right: 10px;
  }
  
  .main button:last-child {
    border: 1px solid #db0505;
    color: #db0505;
  }

  .waitngBadge{
    position: absolute;
    padding: 5px;
    background: #fb8b6b;
    border-radius: 10px;
color: #fff;
    top: 10px;
    left: 10px;
  }
  .confirmBadge{position: absolute;
    padding: 5px;
    background: #67d370;
    border-radius: 10px;
color: #fff;
    top: 10px;
    left: 10px;}